header {
  
    ul {
        display:flex;
        flex-direction: row;
        list-style: none;
        border:5px solid rgb(2, 2, 83);
        margin:20px;
    
        a {
            flex:auto;
            text-decoration: none;
        }
        li{
            margin:20px;
        }
    }
}



