/* divise le texte paragraphe */
.t1 {
    column-count: 3;
}

/* écartement entre les paragaphes */
.t2 {
    column-count: 3;
    column-gap: 100px;
}

/* séparation enter les paragaphes */

.t3 {
    column-count: 3;
    /* column-rule-style: solid; */
    column-rule-style: dotted;
    /* column-rule-style: dashed; */

    /* fait varier la taille des séparation */
    /* column-rule-width: 15px;     */
}
/* avec de la couleur */
.t4 {
    column-count: 3;
    column-rule-style: dashed;
    column-rule-color: salmon;
}
/* en une seul ligne */
.t5 {
    column-count: 3;
    column-rule: 3px dashed salmon;
}

.t6 {
    column-count: 3;
}
h2 {
    column-span: all;
}