section {
    display: flex;
}

div {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin : 0;
    padding: 0;
    border-bottom: solid black 2px;
}

.div_1 {
    height: calc(200px + 20px);
}
.div_2 {
    height: calc(300px + 20px);
}
.div_3 {
    height: calc(100px + 20px);
}
.div_4 {
    height: calc(350px + 20px);
}
.div_5 {
    width: 50%;
    height: calc(150px + 20px);
    border-right: solid black 2px;
    margin-top : 20px;
}
.div_6 {
    width: 50%;
    height: calc(150px + 20px);
    margin-top : 20px;
}
.div_7 {
    height: calc(400px + 20px);
}

p {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 20px;

    padding: 10px;

    width : 100px;
    height: 100px;

    background-color: yellow;

    font-size: large;
}

.taille {
    height: 300px;
    width: 300px;
}
