/*   TRANSITION    */
/* DIV 1 */
/*       */
.div_1 > p {
    -webkit-transition: background-color 5s, height 3s, width 3s;   /* SAFARI */
    transition: background-color 20s, height 3s, width 3s;
    /* DEFAULT linear */
}

.transition_number_1:hover {
    background-color: blue;
}
.transition_number_2:hover {
    height: 200px;
}
.transition_number_3:hover {
    width: 200px;    
}
.transition_number_4:hover {
    width: 200px;
    height: 200px;
}



/*   APPARITION   */
/* DIV 2 */
/*       */
.div_2 > p {
    -webkit-transition:height 3s, background-color 3s;  /* SAFARI */
    transition:height 3s, background-color 3s;
}

.transition_number_5 {
    -webkit-transition-timing-function: linear ;
    transition-timing-function: linear ;
}
.transition_number_6 {
    -webkit-transition-timing-function: ease ;
    transition-timing-function: ease ;
}
.transition_number_7 {
    -webkit-transition-timing-function: ease-in ;
    transition-timing-function: ease-in ;
}
.transition_number_8 {
    -webkit-transition-timing-function: ease-out ;
    transition-timing-function: ease-out ;
}
.transition_number_9 {
    -webkit-transition-timing-function: ease-in-out ;
    transition-timing-function: ease-in-out ;
}

.transition_number_5:hover, .transition_number_6:hover, .transition_number_7:hover, .transition_number_8:hover, .transition_number_9:hover {
    height: 300px;
    background-color: hotpink;
}



/*   DELAY    */
/* DIV 3 */
/*       */
.div_3 > p {
    -webkit-transition:width 3s, background-color 3s;  /* SAFARI */
    transition:width 3s, background-color 10s;
    transition-delay: 1s;
}

.transition_number_10:hover {
    width: 800px;
    background-color: hotpink;
}



/*   TRANSFORMATION    */
/* DIV 4 */
/*       */
.div_4 > p {
    -webkit-transition:width 3s, height 3s, transform 3s;  /* SAFARI */
    transition:width 3s, height 3s, transform 5s;
}

.transition_number_11:hover {
    width: 300px ;
    height: 300px ;
    transform: rotate(720deg);
}
.transition_number_12:hover {
    width: 100px ;
    height: 100px ;
    transform: rotate(-720deg);
}



/*       */
/* DIV 5 */
/*       */
.div_5 > p {
    -webkit-transition-property: width;         /* Safari */
    -webkit-transition-duration: 2s;            /* Safari */
    -webkit-transition-timing-function: ease;   /* Safari */
    -webkit-transition-delay: 1s;               /* Safari */

    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease;
    transition-delay: 1s;
}

.transition_number_13:hover {
    width: 300px ; 
}



/*       */
/* DIV 6 */
/*       */
.div_6 > p {
    -webkit-transition: width 2s ease 1s;
    transition: width 2s ease 1s;
}

.transition_number_14:hover {
    width: 300px ;
}



/*   EXEMPLE    */
/* DIV 7 */
/*       */
.div_7 > p {
    -webkit-transition: width 3s, height 3s, background-color 5s, color 5s, transform 10s,font-size 10s; /* Safari */
    -webkit-transition-timing-function: 1s; /* Safari */
    -webkit-transition-delay: 1s;           /* Safari */

    transition: width 3s, height 3s, background-color 5s, color 5s, transform 10s,font-size 10s;
    transition-timing-function: ease;
    transition-delay: 1s;
}

.transition_number_15:hover {
    width: 300px ;
    height: 300px ;
    background-color: greenyellow;
    color: blue;
    font-size: 50px;


    /* transform: rotate(180deg); */
	transform: matrix(0.866,0.5,-0.7,0.866,0,0);
	/* transform:skew(120deg,120deg); */
	/* transform: scale(2,3); */

}
